# https://help.github.com/en/articles/about-code-owners
* @creativecommons/web
* @creativecommons/ct-cc-wordpress-themes-maintainers @creativecommons/ct-cc-wordpress-themes-core-committers @creativecommons/ct-vocabulary-maintainers @creativecommons/ct-vocabulary-core-committers
