
@import '../vocabulary/css/vocabulary.css' layer(vocabulary);

/* more bespoke bits here */

/* .home-narrative > article:nth-of-type(3) {
  background:var(--vocabulary-brand-color-tomato);
}

.home-narrative > article:nth-of-type(3) footer {
  background: white;
} */

/* .home-narrative > article:nth-of-type(4) {
  background:var(--vocabulary-brand-color-gold);
} */


.home-narrative main {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  /* padding: 0 5%; */

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.home-narrative main > article > h2 {
  margin-bottom: .2em;

  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.865em;
}

.home-narrative main > article:nth-of-type(1) > h2 {
  font-size: 3.56em;
}

.home-narrative main p {
  font-size: 1.5em;
  line-height: 150%;
}

.home-narrative main ul {
  font-size: 1rem;
}

.home-narrative .topic-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5%;
  margin-bottom: 8em;
  gap: 0 2em;

}

.home-narrative .topic-summary h2 {
  grid-area: title;
}

.home-narrative .topic-summary img {
  width: 100%;
  height: 200px;
  grid-area: graphic;
  margin-top: 3.1em;

  background: black;
}

.home-narrative .topic-summary .description {
  grid-area: description;
}

.home-narrative .topic-summary a {
  /* grid-area: button; */
  display: inline;
  box-sizing: border-box;
  /* grid-area: none; */
  grid-column-start: 1;
  grid-row-start: 3;

  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
}

.home-narrative .case-studies {
  padding: 0 5%;
  padding-top: 4em;
  position: relative;

  color: white;
}

.home-narrative .case-studies:before {
  content: '';
  width: 100%;
  height: 70%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background: var(--vocabulary-brand-color-tomato);

  
}

.home-narrative .case-studies footer {
  margin: 0 0;
  margin-top: 6em;
  margin-bottom: 6em;

  background: white;
  color: black;
}

.home-narrative .data-points {
 

}

.home-narrative .data-points ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.home-narrative .data-points .data-point {
  display: flex;
  flex-direction: column;
}

.home-narrative .data-points .data-point .stat {
  order: 3;
}



.home-narrative main .authored-posts {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8em;
  padding: 0 4em;
  gap: 3em;
  box-sizing: border-box; */
  width: 60%;
  margin: 0 auto;
  margin-top: 8em;

  background: var(--vocabulary-neutral-color-lighter-gray);
}

.home-narrative main .authored-posts > h2 {
  grid-column: span 12;
  margin-bottom: 0;

  text-align: center;
}

.home-narrative main .authored-posts.highlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 8em;
  padding: 4em 4em;
  gap: 2em;
  box-sizing: border-box;

  width:100%;
  margin: 0 auto;
  margin-top: 0;
  /* padding: 0; */

  /* background: var(--vocabulary-neutral-color-lighter-gray); */
}

.home-narrative main .authored-posts.highlight:nth-of-type(1) article {
  margin-bottom: 6em;
}

.home-narrative main .authored-posts.highlight article.story {
  grid-column: span 3;
}

.home-narrative main .authored-posts.highlight article figure {
  order: -1;
  
}

.home-narrative main .authored-posts.highlight article a {
  --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
}

.home-narrative main .authored-posts.highlight article h2, .home-narrative main .authored-posts.highlight article h3 {
  font-size: 1.4em;
}

.home-narrative main .authored-posts.highlight > article:nth-of-type(1) {
  grid-column: span 12;
  margin-bottom: 1em;
  padding: 4em;

  background: var(--vocabulary-brand-color-soft-tomato);
  /* background: var(--vocabulary-brand-color-soft-turquoise); */
  background: white;
}

.home-narrative main .authored-posts.highlight article:nth-of-type(1) a {
  --underline-background-color: var(--vocabulary-brand-color-soft-tomato);
  /* --underline-background-color: var(--vocabulary-brand-color-soft-turquoise); */
  --underline-background-color: white;
}

.home-narrative main .authored-posts.highlight article:nth-of-type(1) h2 {
  font-size: 2.1em;
}

.home-narrative main .authored-posts.highlight article:nth-of-type(1) figure {
  order: initial;
}

.home-narrative main footer {
  grid-column: span 12;
  margin: 0 5%;

  text-align: center;
}

.home-narrative footer a.more {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 4em;

}

