
@import '../vocabulary/css/vocabulary.css' layer(vocabulary);

/* more bespoke bits here */

/* .home-narrative > article:nth-of-type(3) {
  background:var(--vocabulary-brand-color-tomato);
}

.home-narrative > article:nth-of-type(3) footer {
  background: white;
} */

/* .home-narrative > article:nth-of-type(4) {
  background:var(--vocabulary-brand-color-gold);
} */


.home-narrative main {
  /* width: 100%; */
  margin-top: 3.4em;
  margin-right: 0;
  margin-bottom: 0;
  /* margin-left: 0;
  padding: 0;
  padding: 0 5%; */

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.home-narrative main > article > h2 {
  margin-bottom: .2em;

  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.865em;
}

.home-narrative main > article:nth-of-type(1) > h2 {
  margin-top: 0;

  font-size: 3.56em;
}

.home-narrative main p {
  font-size: 1.5em;
  line-height: 150%;
}

.home-narrative main ul {
  font-size: 1rem;
}

.home-narrative .topic-summary {
  grid-column: 2 / span 9;

  display: grid;
  grid-template:
      "title graphic graphic"
      "description graphic graphic"
      "button graphic graphic";
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0 5%; */
  margin-bottom: 6.4em;
  gap: 0 4em;

}

.home-narrative .topic-summary h2 {
  grid-area: title;
}

.home-narrative .topic-summary img {
  width: 100%;
  height: 200px;
  grid-area: graphic;
  margin-top: 3.1em;

  background: black;
}

.home-narrative .topic-summary figure {
  width: 100%;
  /* height: 60%; */
  grid-area: graphic;
  margin: 0;
  padding: 0;
  margin-top: .6em;
}

.home-narrative .topic-summary figure iframe {
  height: 70%;

  background: black;
}

.home-narrative .topic-summary .description {
  grid-area: description;
}

.home-narrative .topic-summary .description p {
  margin-bottom: 1em;
}

.home-narrative .topic-summary .description a {
  /* grid-area: button; */
  display: inline;
  box-sizing: border-box;
  /* grid-area: none; */
  grid-column-start: 1;
  grid-row-start: 3;

  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
}

.home-narrative .case-studies {
  grid-column: 1 / span 11;

  padding: 0 5%;
  padding-top: 3.5em;
  position: relative;

  color: white;
}

.home-narrative .case-studies:before {
  content: '';
  width: 100%;
  height: 75%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background: var(--vocabulary-brand-color-tomato);
}

.home-narrative .case-studies > ul a {
  color: white;
  --underline-background-color: var(--vocabulary-brand-color-tomato);
}

.home-narrative .case-studies > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  margin: 0;
  padding: 0;

  list-style: none;
}

.home-narrative .case-studies > ul figure {
  margin-bottom: 0;
}

.home-narrative .case-studies > ul figure img {
  object-fit: cover;
  height: 200px;

}

.home-narrative .case-studies footer {
  margin: 0 0;
  /* margin-top: 6em; */
  margin-top: 4em;
  /* margin-bottom: 6em; */
  margin-bottom: 3em;
  padding: 2em;

  background: white;
  color: black;
}

.home-narrative .data-points {


}

.home-narrative .data-points ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.home-narrative .data-points .data-point {
  display: flex;
  flex-direction: column;
}

.home-narrative .data-points .data-point.wikipedia h2 {
  text-indent: -10000px;
  min-height: 150px;
  background: center center no-repeat;
  background-size: contain;
  margin-top: .5em;
  margin-bottom: 0;
}

.home-narrative .data-points .data-point.the-met h2 {
  text-indent: -10000px;
  min-height: 150px;
  background: center center no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: .5em;
  margin-bottom: 0;

}

.home-narrative .data-points .data-point.khan-academy h2 {
  text-indent: -10000px;
  min-height: 150px;
  width: 90%;
  background: center center no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: .5em;
  margin-bottom: 0;

}

.home-narrative .data-points .data-point .stat {
  order: 3;

  text-transform: uppercase;
}



.home-narrative .data-points .data-point p {
  margin-bottom: 0;

  /* font-size: 1.2em; */
  font-size: 1em;
}


/* blog-index context */

.home-narrative main > header {
  margin-bottom: 0;
}

.home-narrative main .posts {
  grid-column: 2 / span 9;
  padding-top: 4em;
}

.home-narrative main .posts h2 {
  text-align: center;
  margin-bottom: .7em;
}

.home-narrative main .posts ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 8em;
  /* padding: 0 4em; */
  gap: 2em;
  box-sizing: border-box;
  width:100%;
  margin: 0 auto;
  margin-top: 0;

  font-size: 1rem;
  list-style: none;
}

.home-narrative main .posts ul li {
  grid-column: span 4;
}

.home-narrative main .posts ul li h3 {
  font-size: 1.5em;
}

.home-narrative main .posts .post figure {
  order: -1;
}

/* targets the featured posts section */
.home-narrative main .posts.featured {
  grid-column: 1 / span 11;
  /* margin-bottom: 3em; */

  background: var(--vocabulary-neutral-color-lighter-gray);
}

.home-narrative main .posts.featured h2 {
  /* visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0; */
}

.home-narrative main .posts.featured .post h3 {
  font-size: 1.4em;
}

.home-narrative main .posts.featured ul li:nth-child(1) h3 {
  font-size: 2.1em;
}

.home-narrative main .posts.featured .post a {
  --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
}

.home-narrative main .posts.featured li:nth-of-type(1) .post a {
  --underline-background-color: white;
}

.home-narrative main .posts.featured li:nth-of-type(1) .post figure {
  order: initial;
}

.home-narrative main .posts.featured ul {    
  padding: 0 5%;
}

.home-narrative main .posts.featured ul li {
  grid-column: span 3;
}

.home-narrative main .posts.featured ul li:nth-of-type(1) {
  grid-column: span 12;
  margin-bottom: 1em;

  background: white;
}

.home-narrative main .posts.featured ul li:nth-of-type(1) article.post {
  margin-bottom: 1em;
  padding: 4em;
}

.home-narrative main > footer {
  grid-column: 1 / span 11;
  display: grid;
  grid-template-columns: subgrid;
  padding-top: 3em;
  padding-bottom: 8em;

  background: var(--vocabulary-neutral-color-lighter-gray);
}

.home-narrative main > footer .attribution-list {
  grid-column: 2 / span 9;

  background: none;
  border: 2px solid var(--vocabulary-neutral-color-dark-gray);
}



@media (min-width: 1500px) {
  .home-narrative .data-points .data-point.khan-academy h2 {
    text-indent: -6000px;
  }
}

@media (max-width: 1140px) {
  /* .home-narrative main footer .attribution-list ul.expand {
    grid-template-columns: 1fr 1fr;
  } */
}

@media (max-width: 900px) {

  .home-narrative main .case-studies {
    background: var(--vocabulary-brand-color-tomato);
    padding: 5%;

  }

  .home-narrative .case-studies footer {
    margin: 0;
    margin-top: 2em;
    padding: 0;
  }

  .home-narrative .data-points ul {
    /* display: block; */
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    /* padding: 0 1em; */
  }


  .home-narrative main footer {
    width: 100%;
  }

}

@media (max-width: 705px) {

  .home-narrative .topic-summary {
    display: block;
  }

  .home-narrative .topic-summary figure {
    display: none;
  }

  .home-narrative .case-studies > ul {
    grid-template-columns: 1fr 1fr;
  }

  .home-narrative .data-points ul {
    display: block;
    padding-top: 2em;
   }
}

}

@media (max-width:480px) {
  .home-narrative .case-studies > ul {
    display: block;
  }

  .home-narrative .case-studies > ul li {
    margin-bottom: 3em;
  }
}

@media (max-width: 425px) {



  .home-narrative .attribution-list {
    padding: 2em;
  }

  .home-narrative .attribution-list h2 {
    width: 50%;
    font-size: .5em;
    hyphens: auto;
    word-break: break-word;

  }
  
}

/* patches */

main > article figure img, main > figure img {
  width: 100%;
}
