/* 
This is a prototype file for Vocabulary, 
that may be later ported into Vocabulary 
proper.
*/

@import 'vendor/normalize.css';
@import 'library-vars.css';

/* utilities */
.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    margin: -1000px;
    
}

.skip-to-content:focus {
    margin: 0;  
}

/* typography */

body {
    font-family: Arial;  
}

/* still questionable as a rule */
h2, h3 {
    text-transform: uppercase;
}

/* ************************* */

header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* padding: 0 var(--vocabulary-page-edges-space); */
}

.masthead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;

    width: 100%;
    padding-top: 3%;
    margin: 0 var(--vocabulary-page-edges-space);
}

.masthead h1 {
    margin: 0;
}

.masthead .identity-logo {
    display: inline-block;
    text-indent: -1000px;
    vertical-align: bottom;
    height: 50px;
    width: 191px;
    
    
    /* allows for color manipulation of svg */
    background-color: black;
    -webkit-mask-image: url('../../svg/cc/logos/cc/logomark.svg');
    mask-image: url('../../svg/cc/logos/cc/logomark.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;

    /* standard pattern for setting logo in lieu of background color manipulation */
    /* background: url('../../svg/cc/logos/cc/logomark.svg') left top no-repeat; */
}

/* TODO: needs focus outline to be fixed */
.masthead .identity-logo:focus {
    border: 2px solid purple;
}

.masthead .primary-menu {
    /* margin-top: 45px; */
    /* vertical-align: bottom; */
    
}

.masthead .primary-menu ul {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.masthead .primary-menu ul li {
    margin-top: 5px;
    margin-left: 20px;
    
}

.masthead .primary-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--vocabulary-brand-typeset-nav-family);
    font-weight: var(--vocabulary-brand-typeset-nav-weight);
    font-size: 1.1em;
    letter-spacing: 0.02em;
    color: var(--vocabulary-brand-typeset-nav-color);
}

.masthead .primary-menu ul li a:hover {
    color: black;
}

button.expand-menu {
    display: none;
}

.ancilliary-menu {
    position: absolute;
    top: 0;
    /* right: var(--vocabulary-page-edges-space); */
    right: 0;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600; 
    font-size: .8em;
}

.ancilliary-menu ul {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.ancilliary-menu ul li {
    margin-left: 10px;
}
.ancilliary-menu ul li a {
    /* generalize this */
    display: inline-block;
}

.ancilliary-menu ul li a, 
.ancilliary-menu ul li button {
    margin-top: 10px;
}

.ancilliary-menu ul li button:hover {
    cursor: pointer;
}

.ancilliary-menu button.locale {
    padding: 4px 10px;


    background:  var(--vocabulary-neutral-color-lighter-gray);
    border: none;
}

.ancilliary-menu a.donate {
    display: inline-block;
    padding: 4px 10px;

    text-decoration: none;
    background: var(--vocabulary-brand-color-soft-tomato);
    color: var(--vocabulary-brand-color-dark-tomato);
    border-radius: 3px;

}

.ancilliary-menu button.explore {
    margin-top: 0;
    padding-top: 14px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background: black;
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.explore-panel {
    order: -1;
    width: 100%;

    background: black;
    color: white;


}

/* ************************* */

.data-points ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.data-points .data-point {
    display: flex;
    flex-direction: column;
}

.data-points .data-point .stat {
    order: 3;
}

.topic-summary {
    display: grid;
    grid-template:
        "title graphic graphic"
        "description graphic graphic"
        "button graphic graphic";
}

.topic-summary h2 {
    grid-area: title;
}

.topic-summary img {
    grid-area: graphic;

    background: black;
    width: 100%;
}

.topic-summary p {
    grid-area: description;
}

.topic-summary a {
    grid-area: button;
}


@media (max-width: 705px) {
    .primary-menu {
        display: none;
    }
    .ancilliary-menu {
        display: none;
    }

    button.expand-menu {
        display: inline-block;
    }

}








/* temp */
.explore-panelgit {
    display: none;
    
}

.explore-panel.expand {
    display: initial;
    transition: display 2s ease-in-out;
}


article, footer, article.topic-summary {
    display: none;
}